<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path</key>
	<string>./</string>
	<key>workspace</key>
	<string>JuCamera</string>
	<key>project</key>
	<string>JuCamera</string>
	<key>scheme</key>
	<string>JuCamera</string>
	<key>ipaname</key>
	<string>JuCamera</string>
	<key>appname</key>
	<string></string>
	<key>environment</key>
	<string></string>
	<key>uploadkey</key>
	<string></string>
	<key>uploadhost</key>
	<string></string>
	<key>appleid</key>
	<string></string>
	<key>applepassword</key>
	<string></string>
	<key>enterprise-Debug</key>
	<dict>
		<key>profile</key>
		<string>qcjr_rentcar_test_inhouse_profile</string>
		<key>method</key>
		<string>enterprise</string>
		<key>bundleID</key>
		<string>com.pazl.qcjr.rentcar.test</string>
		<key>teamID</key>
		<string>5X7QULHX5J</string>
		<key>aps-environment</key>
		<string></string>
		<key>associated-domains</key>
		<string></string>
	</dict>
	<key>enterprise-Release</key>
	<dict>
		<key>profile</key>
		<string>qcjr_rentcar_inhouse_profile</string>
		<key>method</key>
		<string>enterprise</string>
		<key>bundleID</key>
		<string>com.pazl.qcjr.rentcar</string>
		<key>teamID</key>
		<string>5X7QULHX5J</string>
		<key>aps-environment</key>
		<string></string>
		<key>associated-domains</key>
		<string></string>
	</dict>
	<key>enterprise</key>
	<dict>
		<key>profile</key>
		<string>qcjr_rentcar_inhouse_profile</string>
		<key>method</key>
		<string>enterprise</string>
		<key>bundleID</key>
		<string>com.pazl.qcjr.rentcar</string>
		<key>aps-environment</key>
		<string></string>
		<key>associated-domains</key>
		<string></string>
		<key>teamID</key>
		<string>5X7QULHX5J</string>
	</dict>
	<key>development</key>
	<dict>
		<key>profile</key>
		<string>testAll</string>
		<key>method</key>
		<string>development</string>
		<key>bundleID</key>
		<string>com.juvid.camera</string>
		<key>teamID</key>
		<string>5DGTJHKZ77</string>
		<key>aps-environment</key>
		<string></string>
		<key>associated-domains</key>
		<string></string>
	</dict>
	<key>app-store</key>
	<dict>
		<key>profile</key>
		<string>testAll</string>
		<key>method</key>
		<string>app-store</string>
		<key>teamID</key>
		<string>5DGTJHKZ77</string>
		<key>bundleID</key>
		<string>com.pazl.qcjr.rentcar</string>
		<key>aps-environment</key>
		<string></string>
		<key>associated-domains</key>
		<string></string>
	</dict>
	<key>ad-hoc</key>
	<dict>
		<key>profile</key>
		<string>testAll</string>
		<key>method</key>
		<string>ad-hoc</string>
		<key>teamID</key>
		<string>5DGTJHKZ77</string>
		<key>bundleID</key>
		<string>com.pazl.qcjr.rentcar</string>
		<key>aps-environment</key>
		<string></string>
		<key>associated-domains</key>
		<string></string>
	</dict>
</dict>
</plist>
